{% extends "layout.html" %}
{% block content %}
    <div>
        <h1 class="underline"><strong>Welcome to Yahtzee!</strong></h1>
        <p>Yahtzee is a classic dice game that uses five 6-sided dice. It’s easy to learn and quick to play. There’s a reason it’s been so popular for decades! </p>
    </div>
    <div>
        <h3>Select # of Players</h3>
        <a href="{{ url_for('game.new_game', p=1) }}" type="button" class="btn btn-info btn-lg">1 Player</a>
        <a href="{{ url_for('game.new_game', p=2) }}" type="button" class="btn btn-success btn-lg">2 Players</a>
        <a href="{{ url_for('game.new_game', p=3) }}" type="button" class="btn btn-warning btn-lg">3 Players</a>
        <a href="{{ url_for('game.new_game', p=4) }}" type="button" class="btn btn-danger btn-lg">4 Players</a>
    </div>
    <div>
        <h3>How to Play Yahtzee</h3>
        <p>
            Choose a starting player by any method (oldest player, youngest player, highest roll of the dice, etc.)
        </p>
        <p>
            Beginning with the starting player, players will take turns one at a time in clockwise order. The game consists of thirteen rounds and at the end of the thirteenth round then the game will end. (All the categories on the players’ score cards will be completely filled in at that point.)
        </p>
        <p>
            At the start of a turn, the player takes all 5 dice and rolls them. They can then roll some or all of the dice up to two more times, setting aside any dice they’d like to keep and rerolling the rest. The dice can be scored after any of the rolls, but scoring the dice ends the player’s turn. Setting dice aside after one roll does not prevent one or more of them from being rolled again on any subsequent roll if the player so chooses.
        </p>
        <p>
            Each player’s goal is to try and score as high as they can in one of the thirteen categories shown on their score card.
        </p>
        <p>
            To score the dice, the player selects one of the categories on their score card and writes the score into it. Each category can be scored only once per game (except for the Yahtzee category). Categories can be filled in any order. A player 
            <em>must </em>score the dice on their turn even if it turns out that there are no good categories remaining to score in. Once a category is filled it may not be changed.
        </p>
        <p>
            A player may write a score of zero in any category if they have rolled no point-generating results or if they simply choose to do so. For example, a player could put a roll of 2-4-5-6-6 into the Ones category even though it would score zero points.
        </p>
        <p>
            After marking their score on their score card, the player’s turn ends and play proceeds to the player on their left.
        </p>
        <a href="{{ url_for('main.about') }}" type="button" class="btn btn-info btn-sm">More Rules</a>
    </div>
{% endblock content %}